<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/landingstyles.css">
<header id="showcase" class="animated zoomIn">
		<h1>Welcome To Medapp.in</h1>
		<div id="section-a">
			<h2>Medapp Inventory Application</h2>
				<div class="row mt-4">
				  <div class="col-sm-4 p-4">
						<a class=" mt-2 p-3" href="/supervisor/login">Supervisor</a>
				  </div>
				  <div class="col-sm-4 p-4">
					<a class="mt-2 p-3" href="/vendor/login">Vendor</a>
				  </div>
				  <div class="col-sm-4 p-4">
					<a class="mt-2 p-3" href="/medapp-inventory-admin/login">Admin</a>
				  </div>
			  </div>
		</div>		  
	</header>	
<%- include("partials/footer.ejs") %>